<div class="row">
    <div class="col s5">
          <%= form_with url: search_path, method: :get, class: "form-inline", id: "search" do %>
              <%= text_field_tag 'query', '', placeholder: "Search Employees..." %>
              <!-- submitting via js (press enter) so not using... -->
              <% # submit_tag('Search') %>
          <% end %>
    </div>
</div>
<%= render partial: 'partials/index_structure', locals: {model_name: 'store', 
                                                         primary: 'store_performance', 
                                                         secondary: nil,
                                                         sidebar: nil} %>