<div class="row">
	<div class="small-7 columns">
		<h2>Contact The Creamery</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Obi Nnaeto</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("profh@cmu.edu", "Store email", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-268-8211</td>
			</tr>
		</table>
		<%= render partial: 'partials/index_structure', locals: {model_name: 'store', 
                                                         primary: 'home_store_list', 
                                                         secondary: nil,
                                                         sidebar: nil} %>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>