<div class="row"> 
    <h5 class = "center-align"> Welcome to A&M Creamery</h5>
    <div class="col s12">
    <div class="carousel">
      <a class="carousel-item" href="#one"><%= image_tag 'sundae.jpg' %></a>
      <a class="carousel-item" href="#two"><%= image_tag 'parlor.jpg' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'scoop.jpg' %></a>
    </div>
    <div class="card col s12">
      <div class="card-content">
        <p>The A&M Creamery is a family owned and run ice cream parlor 
            with out primary location in Pittsburgh PA. Come visit 
            us at one of our many tri-state locations listed below for some
            of the best ice cream and gelato you have ever had!
        </p>
      </div>
    </div>
  </div>   
    <%# render :partial => 'general_home' %>
</div>
<%= render partial: 'partials/index_structure', locals: {model_name: 'store', 
                                                         primary: 'home_store_list', 
                                                         secondary: nil,
                                                         sidebar: nil} %>