

<%if current_user.role?(:admin) %>
    <div class = "right-align">
        <%= link_to jobs_path, class: "waves-effect waves-light btn" do %>
            <strong>View Jobs</strong>
        <% end %>
    </div>

<%end%>


<% if current_user.role?(:admin) || current_user.role?(:manager) %>
    <%= render partial: 'partials/index_structure', locals: {model_name: 'shift', 
    primary: 'finished_shifts', 
    secondary: 'upcoming_shifts',
    sidebar: 'completed_shifts'} %>
<%else%>
    <%= render partial: 'partials/index_structure', locals: {model_name: 'shift', 
                                                            primary: 'current_shifts', 
                                                            secondary: 'upcoming_shifts',
                                                            sidebar: 'completed_shifts'} %>

<%end%>